body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#questions{
  width: 90%;
  margin: auto;
}

/* Default height for small devices */
 #intro-example {
  height: 400px;
}

/* Height for small devices less than 768px */
@media (max-width: 768px) {
}

/* Height for devices larger than 992px */
@media (min-width: 992px) {
  #intro-example {
    height: 900px;
  }
}